$color-black: #000000;
$color-gray-placeholder: #888888;
$color-border-light: #D9D9D9;
$color-background-register-btn: #72937F;
$color-border-register-btn: #3A5B22;
$color-link-primary: #0F3DDE;
$color-white: #ffffff;
$color-background-or: #F5F5F5; 
$font-primary-serif: "Inria Serif", "Baskerville", serif;